name: CI

on:
    push:
    pull_request:

env:
    CI: true

jobs:
    Build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [18.20.3]
        steps:
            - uses: actions/checkout@v4
            - name: Install pnpm
              run: npm install -g pnpm
            - uses: actions/setup-node@v4
              with:
                  cache: pnpm
                  node-version: ${{ matrix.node-version }}
            - name: Verify directory
              run: |
                  cd /home/runner/work/wallet/wallet/app
                  echo "Current directory: $(pwd)"
                  ls -la
            - run: pnpm install --frozen-lockfile
              working-directory: /home/runner/work/wallet/wallet/app
            - run: pnpm build
              working-directory: /home/runner/work/wallet/wallet/app
